body {
    background: black;
}
.main-body_wrapper {
    background: rgba(83, 189, 246, 0.6);
}

.side-by-side_grid {
    padding-top: 0;
    padding-bottom: 0;
}

hr {
    background: black;
}

#mission-section {
    background: rgb(25,41,56);
}

#writing-grid {
    justify-self: center;
    align-self: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    max-width: 50ch;
    text-align: center;
}

#inspiration-section_wrapper {
    max-width: 1920px;
    justify-self: center;
    align-self: center;
}
#inspiration-section_wrapper > img {
    display: block;
    margin: 0 auto;
    padding: 5% 0;
    max-width: 70%;
}